* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #bdc3c7 0%, #2c3e50 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
}
form button {
  padding: 0.5rem;
  font-size: 2.4rem;
  border: none;
  background: white;
}
form button {
  color: #aaa6a5;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #aaa6a5;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  /*ul*/
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
  font-size: 1rem;
}

.todo li {
  flex: 1; /*put the items next to each other*/
}

.trash-btn,
.complete-btn {
  background: #da0c0c;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 207, 86);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*remove all the styles from the filter section*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #aaa6a5;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC"; /*add an arrow icon on the right side of the filter section*/
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #aaa6a5;
  cursor: pointer;
  pointer-events: none; /*to be able to click on the arrow*/
}

.select:hover::after {
  background: white;
  color: #aaa6a5;
}

svg {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

h2,
p {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
